@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#main{
    height: 100vh;
    background-image: url(image/background.png);
    background-position: center;
    background-size: cover;
}

.container{
    margin-right: 100px;
    margin-left: 100px;
}

.logo-class{
    margin-top: 30px;
    width: 100px;
}

.header-text{
    max-width: 450px;
    margin-top: 150px;
}

h1{
    font-size: 40px;
}

#justify{
    text-align: justify;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #3B3B3B;
    margin: 15px 0;
}

#sideMenu{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #FFE002;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #1C1C1C;
}

#menuButton{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}


.bodyx{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
}


/*
@media screen and (max-width:1200px){
    .rowmedia{
        width: 80%;
    }
    .colmedia{
        width: 80%;
    }
}

@media screen and (max-width:60px){
    .rowmedia{
        width: 90%;
    }
    .colmedia{
        width: 90%;
    }
}*/

.container .card1{
    position: relative;
    width: 320px;
    height: 450px;
    background: #3B3B3B;
    border-radius: 20px;
    overflow: hidden;
}

.cardfix{
    width: 280px;
    height: 200px;
}

.container .card1:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFE002;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card1:hover:before
{
    clip-path: circle(300px at 80% -20%);
}

.container .card1:after
{
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,255,0.04);
}

.container .card1 .imgbox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card1:hover .imgbox{
   top: 0%;
   transform: translateY(0%);
}

.container .card1 .imgbox img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-8deg);
    width: 270px;
}

.container .card1 .contentbox{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card1:hover .contentbox{
    height: 210px;
}

.container .card1 .contentbox h3{
    position: relative;
    font-weight: 600;
    color: whitesmoke;
}

.container .card1 .contentbox .link{
    display: inline-block;
    padding: 10px 20px;
    background: whitesmoke;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card1:hover .contentbox .link{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}

.bodyxx{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3B3B3B;
}

.containercerti{
    position: relative;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.containercerti .card{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFE002;
}

.containercerti .card:nth-child(even){
    flex-direction: column-reverse;
}

.containercerti .card .imgbx{
    position: relative;
    width: 250px;
    height: 250px;
    background: #1C1C1C;
}

.containercerti .card .imgbx .certiimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containercerti .card .boxcontent{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containercerti .card .boxcontent .divcerti{
    padding: 20px;
    text-align: center;
}

@media (max-width: 1000px){
    .containercerti{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        margin: 50px;
    }

    .containercerti .card{
        flex-direction: row;
        margin: 10px 0;
    }

    .containercerti .card:nth-child(even){
        flex-direction: row-reverse;
    }

    .containercerti .card .imgbx, .containercerti .card .boxcontent{
       width: 50%; 
    }
}

@media (max-width: 600px){
    .containercerti .card{
        flex-direction: column;
        margin: 10px 0;
    }

    .containercerti .card:nth-child(even){
        flex-direction: column;
    }

    .containercerti .card .imgbx, .containercerti .card .boxcontent{
        width: 100%; 
     }

     .containercerti .card .boxcontent{
         height: 200px;
     }
}


/* Interest */
.interestbody{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.bodyall{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.sq{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sq span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #1C1C1C;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.sq:hover span:nth-child(1){
    border: none;
    background:#FFE002 ;
}

.sq span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #1C1C1C;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.sq:hover span:nth-child(2){
    border: none;
    background:#FFE002 ;
}

.sq span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #1C1C1C;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.sq:hover span:nth-child(3){
    border: none;
    background:#FFE002 ;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes animate2{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.sq-content{
    position: relative;
    padding: 40px 60px;
    color: #3B3B3B;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.sq-content .interesta{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #3B3B3B;
    padding: 6px 18px;
    text-decoration: none;
    color: #3B3B3B;
    font-weight: 600;
}

.sq-content .interesta:hover{
    background: #3B3B3B;
    color: whitesmoke;

}
